<div class="footerbackground">
    <div class="container py-5 mt-md-5 mt-0">
        <div class="py-5">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="mb-5">
                        <img src="~/Media/hnadcmlm/logo2.png" />
                    </div>
                    <p>Vi har det ni behöver!</p>
                    <p>Lär känna oss</p>
                    <p>Våra tjänster</p>
                </div>
                <div class="col-md-3 col-6">
                    <div class="mb-5">
                        <h2>Company</h2>
                    </div>
                    <p>Vi har det ni behöver!</p>
                    <p>Lär känna oss</p>
                    <p>Våra tjänster</p>
                </div>
                <div class="col-md-3 col-6">
                    <div class="mb-5">
                        <h2>Contact</h2>
                    </div>
                    <p>08-400 255 97</p>
                    <p>info@monsefi.com</p>
                </div>
                <div class="col-md-3 col-6">
                    <div class="mb-5">
                        <h2>Address</h2>
                    </div>
                    <p>Monsefi Marketing AB</p>
                    <p>Kungsgatan 37</p>
                    <p>111 56 Stockholm</p>
                </div>
            </div>
        </div>
        
    </div>
</div>