<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="~/Media/r4nhrapz/logo1.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav navbaritems-custom">
            <li class="nav-item m-4">
                <a class="nav-link-custome" href="#">OM OSS</a>
            </li>

            <li class="nav-item m-4">
                <a class="nav-link-custome" href="#">LAR KANNA</a>
            </li>
            <li class="nav-item m-4">
                <a class="nav-link-custome" href="#">TJANST</a>
            </li>
            <li class="nav-item m-4">
                <a class="nav-link-custome" href="#">KONTAKT</a>
            </li>
        </ul>
    </div>
</nav>
